<div class="container m-t-md">
  <!-- First row -->
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <!-- Card -->
      <article class="card animated fadeInLeft">
        <div class="card-block">
          <div class="container">
            <form
              [formGroup]="contactForm"
              (ngSubmit)="contactData()"
              class="form was-validated ng-untouched ng-pristine ng-valid"
            >
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="company">Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="title"
                      formControlName="title"
                      placeholder="Ttile"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="Parent">Select Parent</label>
                  <select id="Parent" name="select3" class="form-control form-control-sm" formControlName="category">
                    <option value="Process Details" selected>Process Details</option>
                    <option value="Association Details">Association Details</option>
                    <option value="Certification">Certification</option>
                  
                    
                  </select>
                </div>
              </div>
                </div>

                <div class="row">
                  <div class="col-md-12">

                    <div class="form-group">
                      <label for="company">Content</label>
                      <angular-editor id="content" formControlName="content" placeholder="Add content"
                      [config]="config"></angular-editor>
                     
                    </div>
                  </div>
                 
                  
              </div>
                <div class="col-md-7" style="margin:auto;">
                  <div class="form-group">
                    <button class="btn-submit">Submit</button>
                  </div>
                </div>
              
            </form>
            </div>
            </div>

            <!-- <div class="contact">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <strong>Contact us</strong>
                  </div>
                  <div class="card-body">
                    <form
                      [formGroup]="contactForm"
                      (ngSubmit)="contactData()"
                      class="form-control"
                    >
                      <div class="form-group">
                        <label for="company">Locaiton</label>
                        <input
                          type="text"
                          class="form-control"
                          id="locationName"
                          formControlName="locationName"
                          placeholder="Enter location"
                        />
                      </div>
                      <div class="form-group">
                        <label for="vat">Country</label>
                        <input
                          type="text"
                          class="form-control"
                          id="locationCountry"
                          formControlName="locationCountry"
                          placeholder="enter Country"
                        />
                      </div>
                      <div class="form-group">
                        <label for="street">Address</label>
                        <input
                          type="text"
                          class="form-control"
                          id="locationAddress"
                          formControlName="locationAddress"
                          placeholder="Enter address"
                        />

                        <div class="col-md-12">
                          <div class="form-group">
                            <button class="btn-submit">Submit</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div> -->
      </article>
    </div>
  </div>
</div>