<div class="container m-t-md">
    <!-- First row -->
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <!-- Card -->
        <article class="card animated fadeInLeft">
          <div class="card-block">
            <div class="container">
              <form [formGroup]="careerForm" (ngSubmit)="addData()" class="form">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <!-- helps space out sections of the form -->
                      <label for="inputName">Job Title</label>
                      <input
                        class="form-control"
                        type="text"
                        formControlName="title"
                        id="jobTitle"
                        placeholder="Job Title"
                        
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <!-- helps space out sections of the form -->
                      <label for="Experience">Experience</label>
                      <input
                        class="form-control"
                        type="text"
                        formControlName="experience"
                        id="Experience"
                        placeholder="Experience"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <!-- helps space out sections of the form -->
                      <label for="Location">Location</label>
                      <input
                        class="form-control"
                        type="text"
                        formControlName="location"
                        id="Location"
                        placeholder="Location"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <!-- helps space out sections of the form -->
                      <label for="Position">Position</label>
                      <input
                        class="form-control"
                        type="text"
                        id="Position"
                        formControlName="opens"
                        placeholder="Position"
                        type="number"
                      />
                    </div>
                  </div>
                 
  
                  <div class="col-md-6">
                    <div class="form-group">
                      <!-- helps space out sections of the form -->
                      <label for="inputName">Status</label>
                      <div class="select-dropdown">
                        <select  #rate ngModel="hr">
                          <option selected value="hr">hr</option>
                          <option value="yr">yr</option>
                      </select>
                      
                      </div>
                    </div>
                  </div>
  
                  <div class="col-md-6">
                    <div class="form-group">
                      <!-- helps space out sections of the form -->
                      <label for="inputName">Image</label>
                      <div class="file-input">
                        <input type="file" #fileInput formControlName="file" id="file" (change)="uploadFileEvt($event)" multiple="multiple"
                         accept="image/*" />
                      </div>
                    </div>
                  </div>
  
                  <div class="col-md-12">
                    <div class="form-group">
                      <!-- helps space out sections of the form -->
                      <label for="description">Description</label>
                      <textarea
                        class="form-control"
                       
                        id="description"
                        formControlName="description"
                        placeholder="Description"
                        
                      ></textarea>
  
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-5"></div>
                      <div class="form-group col-md-2">
                    
                        <button class="btn-submit">Submit</button>
                      </div>
                      <div class="col-md-5"></div>
                    </div>
                    
                  </div>
                </div>
              </form>
            </div>
          </div>
        </article>
        <!-- .end Card -->
      </div>
    </div>
  </div>
  