
  <!--/.row-->

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>Short Text </strong> 
      </div>
      <div class="card-body">
     
         <form [formGroup]="contactForm" (ngSubmit)="rcntwrksaddData()" class="form-horizontal">
        

          
         
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="file-input">Select Category </label>
              
          <div class="col-md-9">
            <select id="Parent" name="select3" class="form-control form-control-sm">
            
              <option *ngFor="let tech of rows" value={{tech.ID}}>
                {{ tech.name }}
              </option>
              
            </select>
          </div>
        </div>
        

         <!-- <div class="form-group row">
          <label class="col-md-3 col-form-label" for="file-input">Select Category </label>
          <div class="col-md-9">
            <input type="text" id="textarea-input" name="textarea-input" rows="9" 
            formControlName="cat_id"
                    id="menuid"
            placeholder="select the Category" class="form-control" 
            spellcheck="false" data-ms-editor="true">
          </div>
        </div> -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="file-input">Home Name</label>
          <div class="col-md-9">
            <input type="text" id="textarea-input" name="textarea-input" rows="9" 
            formControlName="homename"
                    id="homeName"
            placeholder="Enter Home page Name" class="form-control" 
            spellcheck="false" data-ms-editor="true">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="file-input">Title </label>
          <div class="col-md-9">
            <input type="text" id="textarea-input" name="textarea-input" rows="9" 
            formControlName="title"
                    id="title"
            placeholder="Enter the title" class="form-control" 
            spellcheck="false" data-ms-editor="true">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="file-input">File input</label>
          <div class="file-input">
            <input type="file" #fileInput formControlName="file" id="file" (change)="uploadFileEvt($event)" multiple="multiple"
             accept="image/*" />
          </div>
        </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="file-input">Enter quick text </label>
            <div class="col-md-9">
              <textarea id="textarea-input" name="textarea-input" rows="9" 
              formControlName="qtxt"
                      id="qktext"
              placeholder="text which is on image.." class="form-control" 
              spellcheck="false" data-ms-editor="true"></textarea>
            </div>
          </div>
          <div class="form-group row">
              <label class="col-md-3 col-form-label" for="file-input">Enter short description </label>
              <div class="col-md-9">
                  <textarea id="textarea-input" name="textarea-input" rows="9"
                  formControlName="shdcr"
                      id="srtdesc"
                   placeholder="text below image" class="form-control" 
                   spellcheck="false" data-ms-editor="true"></textarea>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="file-input">Enter  description </label>
              <div class="col-md-9">
                  <textarea id="textarea-input" name="textarea-input" rows="9" 
                  formControlName="fdcr"
                  id="desc"
                  placeholder="main content .." class="form-control" 
                  spellcheck="false" data-ms-editor="true"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="file-input">Enter What we achieved1 </label>
              <div class="col-md-9">
                  <textarea id="textarea-input" name="textarea-input" rows="9" 
                  formControlName="whatwegot1"
                  id="wegot1"
                  placeholder="write description about .." class="form-control" 
                  spellcheck="false" data-ms-editor="true"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="file-input">Enter What we achieved 2 </label>
              <div class="col-md-9">
                  <textarea id="textarea-input" name="textarea-input" rows="9" 
                  formControlName="whatwegot2"
                  id="wegot2"
                  placeholder="write description about .." class="form-control" 
                  spellcheck="false" data-ms-editor="true"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="file-input">Enter What we achieved3 </label>
              <div class="col-md-9">
                  <textarea id="textarea-input" name="textarea-input" rows="9" 
                  formControlName="whatwegot3"
                  id="wegot3"
                  placeholder="write description about .." class="form-control" 
                  spellcheck="false" data-ms-editor="true"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5"></div>
              <div class="col-md-2"><button class="btn-submit">Submit</button></div>
              <div class="col-md-5"></div>
            </div>  
        </form>
      </div>
 
    </div>
  
  </div>
  

</div><!--/.row-->










