<div class="container m-t-md">
    <!-- First row -->
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <!-- Card -->
        <article class="card animated fadeInLeft">
          <div class="card-block">
            <div class="container">
              <form [formGroup]="menuForm" (ngSubmit)="addMenu()" class="form">
                <div class="row">
                  
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="company">Name</label>
                      <input type="text" class="form-control" id="Name" formControlName="menuname"
                        placeholder="Enter the Name" />
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="Parent">Select Parent</label>(If it is parent select parent in dropdown)
                    <select id="Parent" name="select3" class="form-control form-control-sm" formControlName="parent">
                      <option value="0">Parent</option>
                      <option *ngFor="let tech of rows" value={{tech.ID}}>
                        {{ tech.itemName }}
                      </option>
                      
                    </select>
                  </div>
                </div>



                  
                  <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-5"></div>
                      <div class="form-group col-md-2">
                        <button class="btn-submit">Submit</button>
                      </div>
                      <div class="col-md-5"></div>
                      </div>
                    </div>
                  </div>
              </form>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div> 
 