<div class="container m-t-md">
  <!-- First row -->
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <!-- Card -->
      <article class="card animated fadeInLeft">
        <div class="card-block">
          <div class="container">
            <form [formGroup]="careerForm" (ngSubmit)="addData()" class="form was-validated ng-untouched ng-pristine ng-valid">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <!-- helps space out sections of the form -->
                    <label for="inputName">Job Title</label>
                    <input
                      class="form-control"
                      type="text"
                      formControlName="title"
                      id="jobTitle"
                      placeholder="Job Title"
                      required
                      
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <!-- helps space out sections of the form -->
                    <label for="Experience">Experience</label>
                    <input
                      class="form-control"
                      type="text"
                      formControlName="experience"
                      id="Experience"
                      placeholder="Experience"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <!-- helps space out sections of the form -->
                    <label for="Location">Location</label>
                    <input
                      class="form-control"
                      type="text"
                      formControlName="location"
                      id="Location"
                      placeholder="Location"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <!-- helps space out sections of the form -->
                    <label for="Position">Position</label>
                    <input
                      class="form-control"
                      type="text"
                      id="Position"
                      min='1'
                      formControlName="opens"
                      placeholder="Position"
                      type="number"
                        required  />
                  </div>
                </div>
               

                <div class="col-md-6" style="display: none;">
                  <div class="form-group">
                    <!-- helps space out sections of the form -->
                    <label for="status">Status</label>
                    <div class="select-dropdown">
                      <select  ngModel="hr" id="status">
                        <option selected value="0">Active</option>
                        <option value="0">Inactive</option>
                       
                      </select>
                    
                    
                    </div>
                  </div>
                </div>
               
                <div class="col-md-6">
                  <div class="form-group">
                    <!-- helps space out sections of the form -->
                    <label for="inputName">Image (350 X 219)</label>
                    <div class="file-input">
                      <input type="file" #fileInput formControlName="file" id="file" (change)="uploadFileEvt($event)" multiple="multiple" accept="image/x-png,image/gif,image/jpeg,image/jpg,image/svg"
                       required />
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  
                  <div class="form-group">
                    <label for="description">Description</label> 
                    <angular-editor id="eventdesc" formControlName="description" id="description" placeholder="Add Description"
                    [config]="config"></angular-editor>
                    <!-- helps space out sections of the form -->
                    

                  </div>
                  
                </div>
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-5"></div>
                    <div class="form-group col-md-2">
                  
                      <button class="btn-submit">Submit</button>
                    </div>
                    <div class="col-md-5"></div>
                  </div>
                  
                </div>
              </div>
            </form>
          </div>
        </div>
      </article>
      <!-- .end Card -->
    </div>
  </div>
</div>
