<div class="card">
    <div class="card-header"> Menu Items </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Items</th>
                    <th>Satus</th>
                    
                </tr>
            </thead>
                <tbody>
                    <tr>
                        <td>Home</td>
                        <td>Active</td>
                        
                    </tr>
                    <tr>
                        <td>Services</td>
                        <td>Active</td>
                        
                    </tr>
                    <tr>
                        <td>Recent Works</td>
                        <td>Active</td>
                        
                    </tr>
                    <tr>
                        <td>Carrers</td>
                        <td>Active</td>
                        
                    </tr>
                    <tr>
                        <td>Contact Us</td>
                        <td>Active</td>
                        
                    </tr>
                </tbody>
            </table>
           
        </div>
    </div>