<div class="row">
    <div class="col-md-12">
        <div class="card">
            
          <div class="card-header">
              <div class="row">
            <div class="col-md-4">
           Contacts us 
            </div>
            <div class="col-md-4">
            </div>
           
                 <div class="col-md-2">
                  <button class="mb-0 btn-add" (click)="addaddress()">Add</button>
            </div>
                     
                    </div>
          </div>
          <div class="card-body">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th
                    *ngFor="let items of columns; let i = index"
                    :key="index"
                    scope="col"
                  >
                    {{ items.title }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let items of rows; let i = index" :key="index">
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">{{ items.ID }}</span>
                      </div>
                    </div>
                  </th>
                  <td>{{ items.locationName }}</td>
                  <td>{{ items.locationAddress }}</td>
                  <td *ngIf="items.status === '0'"><mat-slide-toggle [checked]="true" (change)="updateStatus(items,$event)"></mat-slide-toggle></td>
                  <td *ngIf="items.status === '1'"><mat-slide-toggle [checked]="false" (change)="updateStatus(items,$event)"></mat-slide-toggle></td>
                 
                  <td><button mat-icon-button aria-label="Toggle star"
                    (click)="editDetails(items)"
                    style="color: blue">
                    <mat-icon class="material-icons" color="primary">edit</mat-icon>
                  </button></td>
                
        <!-- 
                  <td *ngIf="items.status === '0'"><mat-slide-toggle [checked]="true" (change)="updateStatus(items,$event)"></mat-slide-toggle></td>
                  <td *ngIf="items.status === '1'"><mat-slide-toggle [checked]="false" (change)="updateStatus(items,$event)"></mat-slide-toggle></td>
               -->
                </tr>
              </tbody>
            </table>
          
          </div>
        </div>
      </div>
</div>
<div class="row"><div class="col-sm-2">
    
</div>
