<div class="row">
    <div class="col-md-12">
        <div class="card">
            
          <div class="card-header">
              <div class="row">
            <div class="col-md-4">
           Contacts us 
            </div>
            <div class="col-md-4">
            </div>
           
                 <div class="col-md-2">
                  <button class="mb-0 btn-add" (click)="addaddress()">Add</button>
            </div>
                     
                    </div>
          </div>
          <div class="card-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>Address</th>
                  <th>Status</th>
                  
                </tr>
              </thead>
             <tbody>
    <tr>
        <td>test</td>
        <td>test</td>
        <td><label class="switch switch-label switch-pill switch-primary"><input type="checkbox" checked="" class="switch-input"><span data-checked="✓" data-unchecked="✕" class="switch-slider"></span></label></td>
    </tr>
             </tbody>
            </table>
          
          </div>
        </div>
      </div>
</div>
<div class="row"><div class="col-sm-2">
    
</div>
